<!doctype html>
<html>
<head>
	<meta name='viewport' content='width=device-width'>
	<title><%= title %></title>
	<link rel='stylesheet' href='/css/style.css'>
</head>
<body>
	<p><h1><%= title %></h1></p>
	<p>
		<a href="/wechat-back/menu/insert/1" target='frame'>增加一级菜单</a>
		<a href="/wechat-back/menu/insert/2" target='frame'>增加二级菜单</a>
	</p>
	<iframe name='frame' width='800' height='600'></iframe>
</body>
</html>
