<!doctype html>
<html>
	<head>
		<title><%=title%></title>
		<script defer src='/js/insertFirst.js'></script>
	</head>
	<body>
		<% include ../messages %>
		<form method='post'>
			<p>
				<label for='name'>Name:
						<input type='text' id='name' name='name'/>
				</label>
			</p>
			<p>
				<label for='type'>Type:
					<select name='type'>
						<option value='click'>点击推事件</option>
						<option value='view'>跳转URL</option>
						<option value='scancode_push'>扫码推事件</option>
						<option value='scancode_waitmsg'>扫码推事件且弹出“消息接收中”提示框</option>
						<option value='pic_sysphoto'>弹出系统拍照发图</option>
						<option value='pic_photo_or_album'>弹出拍照或者相册发图</option>
						<option value='pic_weixin'>弹出微信相册发图器</option>
						<option value='location_select'>弹出地理位置选择器</option>
						<option value='media_id'>下发消息（除文本消息）</option>
						<option value='view_limited'>跳转图文消息URL</option>
					</select>
				</label>
			</p>
			<p>
				<label for='key'>Key:
					<input type='text' name='key'/>
				</label>
			</p>
			<p>
				<label for='media_id'>Media_id:
					<input type='text' name='media_id'/>
				</label>
			</p>
			<p>
				<label for='url'>Url:
					<input type='text' name='url'/>
				</label>
				</br>
				例如：http://www.baidu.com
			</p>
			<p>
				<label for='sub_button'>是否有二级菜单:
					<select name='sub_button'>
						<option value='0'>否</option>
						<option value='1'>是</option>
					</select>
				</label>
			</p>
			<input type='submit'/>
		</form>
		<button id='insertButton'>添加一个一级菜单</button>
	</body>
</html>
